html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    // font-family: 
}

body {
    background: url("./img/nathan-anderson-108136-unsplash.jpg");
    background-size: cover;
    color: rgb(85, 79, 15)
}

.wrapper {
    background-color: rgba(0, 0, 0, 0.45);
    height: 100%;
    width: 100%;
}