@font-face {
    font-family: 'spacey';
    src: url('../fonts/Spaceport_2006.otf');
}

html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'spacey', cursive;
}

header {
    display: flex;
    justify-content: space-around;
    height: 100px;
    white-space: nowrap;

    h1, h3 {
        font-family: 'spacey', cursive;
        color: whitesmoke;
        text-align: center;
    }

    h1 {
        font-size: 2em;
    }

    h3 {
        font-size: 0.9em;
    }

    .title {
        h1 {
            margin: 15px;
        }

        h3 {
            font-size: 0.8em;
            padding: 0;
            margin-bottom: 8px;
        }

        span {
            display: block;

            a {
                text-decoration: none;
                color: lightgreen;
                font-size: 0.7em;
                text-align: center;
                text-shadow: 0px 0px 10px greenyellow;
                padding-right: 10px;
                float: right;
            }
        }
    }

    p {
        font-size: 0.7em;
        color: beige;
    }

    .starship {
        display: flex;
        justify-content: center;
        padding: 15px;
        width: 140px;

        img {
            height: 100%;
            width: auto;
        }
    }

    .instructions {
        h3 {
            margin: 15px 5px 5px 5px;
        }
        span {
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            p {
                line-height: 10px;
                padding: 5px 18px 5px 0;
                margin: 3px 0;
                text-align: center;
            }
        }
    }
}

body {
    background: url("../img/nathan-anderson-108136-unsplash.jpg");
    background-size: cover;
    color: rgb(85, 79, 15);

    .thanks {
        padding: 35px;
    }

    .articles {
        display: flex;
        justify-content: space-evenly;

        article {
            padding: 80px;

            h3 {
                color: white;
            }
        }
    }

    .return {
        padding: 35px;
        text-decoration: none;
        color: lightgreen;
        font-size: 1.2em;
        text-shadow: 0px 0px 10px greenyellow;
    }
}

.wrapper {
    background-color: rgba(0, 0, 0, 0.45);
    height: 100%;
    width: 100%;

    .start-wait {
        color: white;
        position: absolute;
        z-index: 9;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 1024px) {
    header {
        .starship {
            display: none;
        }
    }
}

@media (max-width: 830px) {
    header {
        .instructions {
            display: none;
        }
    }
}